//menu wrapper
.menu-list {
    width: 224px;
}
//menu item
.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 0 !important;
    background-color: white;
    text-align: inherit;
    width: 100%;
    &:hover {
        background-color: rgba(0, 0, 0, 0.068);
    }
}

.header {
    display: flex;
    margin-top: -8px;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.back-bnt {
    height: 100%;
    width: 50px;
    border: transparent;
}

.separate {
    border-top: 1px solid rgba(0, 0, 0, 0.204);
}

.menu-scrollable {
    overflow-y: auto;
    width: 100%;
}
