.warper {
    --search-height: 46px;
    --search-bnt-width: 52px;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(34, 90, 89, 0.2);
}

.inner {
    height: 59px;
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--white);
}

// .search {
//     height: var(--search-height);
//     border-radius: 92px;
//     padding-left: 16px;
//     overflow: hidden;
//     font-size: 18px;
//     display: flex;
//     align-items: center;
//     border: 1px solid transparent;
//     justify-content: space-between;
//     background: rgba(22, 24, 35, 0.06);
//     position: relative;

//     input {
//         height: 100%;
//         border: none;
//         background-color: transparent;
//         outline: none;
//         color: var(--black);
//         width: 245px;
//     }
//     input:not(:placeholder-shown) ~ .search-bnt {
//         color: #000;
//     }
//     input:not(:placeholder-shown) ~ .search-clear {
//         opacity: 1;
//         visibility: none;
//         visibility: visible;
//     }
//     &:after {
//         content: '';
//         position: absolute;
//         width: 1px;
//         height: calc(var(--search-height) - 18px);
//         right: var(--search-bnt-width);
//         background: rgba(22, 24, 35, 0.12);
//     }
//     &:focus-within {
//         border: 1px solid rgba(0, 0, 0, 0.318);
//     }
// }

.more-bnt {
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 18px;
}

.menu-items {
    width: 224px;
}

.action {
    display: flex;
    justify-content: center;
}
//user-login

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 18px;
}
.send,
.notification {
    border: none;
    margin-left: 18px;
}
